In [1]:
#!/usr/bin/python
# -*- coding: utf-8 -*-

import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import io
from base64 import b64encode
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
from dotenv import load_dotenv
import os
load_dotenv()

def get_year_from_month_column(month):
    return int(month[:month.find('-')])

def add_year_of_sale_column(df):
    df['year'] = df.month.map(get_year_from_month_column)

def add_full_address_column(df):
    df['full_address'] = df['block'] + ' ' + df['street_name']

def add_remaining_lease_column(df):
    df['remaining_lease'] = np.int64(99) - (df.year - df['lease_commence_date'])

def add_age_column(df):
    df['age_as_of_2021'] = 2021 - df['lease_commence_date']

def rename_columns(df):
    df['town'] = df['town'].str.title()
    df['flat_type'] = df['flat_type'].str.title()

def human_format(num):
    num = float('{:.3g}'.format(num))
    magnitude = 0
    while abs(num) >= 1000:
        magnitude += 1
        num /= 1000.0
    return '{}{}'.format('{:f}'.format(num).rstrip('0').rstrip('.'), ['', 'K', 'M', 'B', 'T'][magnitude])


# Specify file paths
path_2000 = "./dataset/2000-feb-2012.csv"
path_2012 = "./dataset/mar-2012-to-dec-2014.csv"
path_2015 = "./dataset/jan-2015-to-dec-2016.csv"
path_2017 = "./dataset/jan-2017-onwards.csv"
geocode_path = "./dataset/full_address_and_geocode.csv"

# Read files

a = pd.read_csv(path_2000)
b = pd.read_csv(path_2012)
c = pd.read_csv(path_2015)
d = pd.read_csv(path_2017)

# Cleaning the rest of the data and joining them

datasets = [a, b, c, d]

for x in datasets:
    add_year_of_sale_column(x)
    add_remaining_lease_column(x)
    add_age_column(x)
    add_full_address_column(x)
    rename_columns(x)
    
full = pd.concat(datasets)

# Set mapbox token

token = os.environ.get("MAPBOX")
px.set_mapbox_access_token(token)

In [2]:
a.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,year,remaining_lease,age_as_of_2021,full_address
0,2000-01,Ang Mo Kio,3 Room,170,ANG MO KIO AVE 4,07 TO 09,69.0,Improved,1986,147000.0,2000,85,35,170 ANG MO KIO AVE 4
1,2000-01,Ang Mo Kio,3 Room,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,144000.0,2000,85,35,174 ANG MO KIO AVE 4
2,2000-01,Ang Mo Kio,3 Room,216,ANG MO KIO AVE 1,07 TO 09,73.0,New Generation,1976,159000.0,2000,75,45,216 ANG MO KIO AVE 1
3,2000-01,Ang Mo Kio,3 Room,215,ANG MO KIO AVE 1,07 TO 09,73.0,New Generation,1976,167000.0,2000,75,45,215 ANG MO KIO AVE 1
4,2000-01,Ang Mo Kio,3 Room,218,ANG MO KIO AVE 1,07 TO 09,67.0,New Generation,1976,163000.0,2000,75,45,218 ANG MO KIO AVE 1

In [3]:
b.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,year,remaining_lease,age_as_of_2021,full_address
0,2012-03,Ang Mo Kio,2 Room,172,ANG MO KIO AVE 4,06 TO 10,45.0,Improved,1986,250000.0,2012,73,35,172 ANG MO KIO AVE 4
1,2012-03,Ang Mo Kio,2 Room,510,ANG MO KIO AVE 8,01 TO 05,44.0,Improved,1980,265000.0,2012,67,41,510 ANG MO KIO AVE 8
2,2012-03,Ang Mo Kio,3 Room,610,ANG MO KIO AVE 4,06 TO 10,68.0,New Generation,1980,315000.0,2012,67,41,610 ANG MO KIO AVE 4
3,2012-03,Ang Mo Kio,3 Room,474,ANG MO KIO AVE 10,01 TO 05,67.0,New Generation,1984,320000.0,2012,71,37,474 ANG MO KIO AVE 10
4,2012-03,Ang Mo Kio,3 Room,604,ANG MO KIO AVE 5,06 TO 10,67.0,New Generation,1980,321000.0,2012,67,41,604 ANG MO KIO AVE 5

In [4]:
c.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,year,age_as_of_2021,full_address
0,2015-01,Ang Mo Kio,3 Room,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0,2015,35,174 ANG MO KIO AVE 4
1,2015-01,Ang Mo Kio,3 Room,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1981,65,275000.0,2015,40,541 ANG MO KIO AVE 10
2,2015-01,Ang Mo Kio,3 Room,163,ANG MO KIO AVE 4,01 TO 03,69.0,New Generation,1980,64,285000.0,2015,41,163 ANG MO KIO AVE 4
3,2015-01,Ang Mo Kio,3 Room,446,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1979,63,290000.0,2015,42,446 ANG MO KIO AVE 10
4,2015-01,Ang Mo Kio,3 Room,557,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,64,290000.0,2015,41,557 ANG MO KIO AVE 10

In [5]:
d.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,year,age_as_of_2021,full_address
0,2017-01,Ang Mo Kio,2 Room,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61,232000.0,2017,42,406 ANG MO KIO AVE 10
1,2017-01,Ang Mo Kio,3 Room,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60,250000.0,2017,43,108 ANG MO KIO AVE 4
2,2017-01,Ang Mo Kio,3 Room,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62,262000.0,2017,41,602 ANG MO KIO AVE 5
3,2017-01,Ang Mo Kio,3 Room,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62,265000.0,2017,41,465 ANG MO KIO AVE 10
4,2017-01,Ang Mo Kio,3 Room,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62,265000.0,2017,41,601 ANG MO KIO AVE 5